.header {
  max-width: 880px;
  margin: 35px auto 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-bottom: 31.6px;
    margin-top: 28px;
  }
}