.sign__link {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    width: 358px;
    text-align: center;
}